* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Body */

body {
    background-image: url("../images/backgroundimage.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: system-ui,
        Arial,
        sans-serif;
}

header {
    text-align: center;
    font-family: fantasy,
        'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;
    font-size: 6em;
    color: blueviolet;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

/* headings */
h2 {
    font-family: system-ui,
        Arial,
        sans-serif;
    color: green;
}

h3 {
    font-family: system-ui,
        Arial,
        sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: orange;
}

p {
    font-family: system-ui,
        Arial,
        sans-serif;
    color: green;
}

.main-area {
    background-color: lightgoldenrodyellow;
    opacity: 0.8;
    padding: 0.2em 1em 2em 1em;
    margin: 0em 30em;
}

.welcome-line {
    text-align: center;
    font-size: 2em;
    padding: 0.5em 1em;
}

.about-quiz {
    font-size: 1.2rem;
    text-align: justify;
    padding: 0.5em 1em;
    font-style: italic;
}

label {
    font-size: 1.3em;
    color: orange;
    font-family: system-ui,
        Arial,
        sans-serif;
    font-weight: bold;
    padding: 0em 1em;
}

#yname {
    font-size: large;
    border: 1px dotted green;
    border-radius: 4px;
}

.level {
    font-family: system-ui,
        Arial,
        sans-serif;
    font-size: large;
    font-weight: bold;
    color: white;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 12px;
    margin: 0em 2em 0em 0.5em;
}

.level:hover {
    color: blueviolet;
    background-color: greenyellow;
    border: 1px solid greenyellow;
}

#startquiz {
    font-family: system-ui,
        Arial,
        sans-serif;
    font-size: large;
    font-weight: bold;
    color: white;
    background-color: green;
    border: 1px solid green;
    border-radius: 12px;
    padding: 0.5em 1em;
    margin-left: 2em;
}

#startquiz:hover {
    color: yellow;
    background-color: blueviolet;
    border: 1px solid blueviolet;
}

.btn {
    font-family: system-ui,
        Arial,
        sans-serif;
    font-size: large;
    font-weight: bold;
    color: white;
    background-color: green;
    border: 1px solid green;
    border-radius: 12px;
    padding: 0.5em 1em;
    margin-left: 2em;
}

.btn:hover {
    color: yellow;
    background-color: blueviolet;
    border: 1px solid blueviolet;
}

/* Quiz Page */
.user-info {
    text-align: center;
    font-family: system-ui,
        Arial,
        sans-serif;
    font-size: 1.5em;
    padding: 0em 5em;
    color: orange;
    font-weight: bold;
}

#hello-area {
    color: green;
    text-transform: capitalize;
}

#level-area {
    color: green;
    text-transform: capitalize;
}

#score-area {
    color: green;
}

.question-area {
    font-family: system-ui,
        Arial,
        sans-serif;
    font-size: 1.5em;
    text-align: left;
    color: green;
    padding: 1em;
}